<h1><%= @user.email %></h1>

<%= form_for @user do |f| %>

  <%= f.label :age, 'Age' %>
  <%= f.number_field :age %>
  <br>

  <%= f.label :zip_code, 'Zip Code' %>
  <%= f.number_field :zip_code %>
  <br>

  <%= f.label :stage, 'Stage' %>
  <%= f.text_field :stage %>
  <br>

  <%= f.label :relationship, 'Relationship' %>
  <%= f.text_field :relationship %>
  <br>
  
  <%= f.submit 'Save!' %>

<% end %>