<h1><%= @user.email %></h1>

<table>
  <tbody>
    <tr>
      <td>Age:</td>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <td>Zip Code:</td>
      <td><%= @user.zip_code %></td>
    </tr>
    <tr>
      <td>Stage:</td>
      <td><%= @user.stage %></td>
    </tr>
    <tr>
      <td>Relationship:</td>
      <td><%= @user.relationship %></td>
    </tr>
  </tbody>
</table>